<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="taly" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Taly Payment</label>

                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>ENABLE</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" showInDefault="10" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                </field>
                <field id="merchant_id" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="merchant_key" translate="label" type="obscure" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="list_mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>List Mode</label>        
                   <source_model>Taly\Taly\Model\Config\Source\ListMode</source_model>
                </field>
                <field id="live_url" translate="label" type="text" showInDefault="30" showInWebsite="0" showInStore="0">
                    <label>Live URL</label>
                    <validate>required-entry</validate>
                </field>
                <field id="test_url" translate="label" type="text" showInDefault="40" showInWebsite="0" showInStore="0">
                    <label>Test URL</label>
                    <validate>required-entry</validate>
                </field>
                <field id="talypay_display_info_checkbox" translate="label comment" sortOrder="70" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>DISPLAY_ON_PRODUCT_PAGE</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>APPLICABLE_COUNTRIES</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>SPECIFIC_COUNTRIES</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>SORT_ORDER</label>
                </field>
            </group>
        </section>
    </system>
</config>
